* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
body {
  padding: 2rem;
}
h1 {
  font-size: 4rem;
  padding: 2rem auto;
  text-align: center;
}
h2 {
  font-size: 3.2rem;
  padding: 2rem auto;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
.container {
  max-width: 80rem;
}
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(128, 128, 128, 0.8)), url(../img/tomato.jpg);
  background-size: cover;
  background-position: 25% 25%;
}
header {
  color: #7A1004;
  margin-bottom: 6rem;
}
.button {
  margin: 2rem auto;
  max-width: 16rem;
  width: 45%;
  padding: 1rem;
  color: hsl(22, 44%, 95%);
  background-color: #DD4F0A;
  border-radius: 2rem;
}
.button:hover {
  color: #DD4F0A;
  background-color: hsl(22, 44%, 95%);
}
.setting--button {
  color: hsl(22, 44%, 95%);
  width: 4rem;
  text-align: center;
  margin: 0 1.5rem;
  background-color: #DD4F0A;
  border-radius: 2rem;
}
.setting--button:hover {
  color: #DD4F0A;
  background-color: hsl(22, 44%, 95%);
}
.container {
  background-color: #7A1004;
  border-radius: 2rem;
  color: hsl(22, 44%, 95%);
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}
.container .timer--text {
  width: 100%;
  background-color: #DD4F0A;
  border-radius: 2rem;
  padding: 1.6rem;
}
.container .timer--buttons {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}
.container .timer--setting {
  font-size: 2rem;
}
.container .timer--setting .setting--session,
.container .timer--setting .setting--short-break,
.container .timer--setting .setting--long-break {
  text-align: center;
}
.container .timer--setting .setting--session .setting,
.container .timer--setting .setting--short-break .setting,
.container .timer--setting .setting--long-break .setting {
  display: flex;
  justify-content: center;
  margin: 0.8rem 0 2rem 0;
  text-align: center;
}
.container .timer--setting .setting--session .setting .setting--text,
.container .timer--setting .setting--short-break .setting .setting--text,
.container .timer--setting .setting--long-break .setting .setting--text {
  width: 4rem;
}
